PORT=8000
MONGODB_URI=mongodb+srv://faizhasan:Ayatrizvi123@cluster0.jqxyg1e.mongodb.net
DB_NAME=videotube
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=chai-aur-code
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=chai-aur-backend
REFRESH_TOKEN_EXPIRY=10d


CLOUDINARY_CLOUD_NAME=dwymxh9jl
CLOUDINARY_API_KEY=578559428348412
CLOUDINARY_API_SECRET=mFf9vQKB_6AosBaXcsq7L3P68OY